<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">기저세포암</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">인공지능 팀프로젝트/2023.06.08</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="C:\Users\swl\Desktop\Code\123\wookgid\templates\diseaseimage\기저세포암.jpg" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">기저세포암은 피부의 최외곽에 위치한 기저세포층에서 발생하는 피부암의 일종입니다. </p>
                            <p class="fs-5 mb-4"> 주로 햇빛에 오랫동안 노출된 피부에서 발생하며, 가장 흔한 피부암 종류 중 하나입니다.</p>
                            <p class="fs-5 mb-4">저세포암은 흔히 얼굴, 머리, 목, 팔, 손 등 노출이 많은 부위에서 발생하며, 드물게 다른 부위에서도 발생할 수 있습니다.</p>
                            <h2 class="fw-bolder mb-4 mt-5">예방법</h2>
                            <p class="fs-5 mb-4">햇빛 차단: 자외선에 노출을 최소화하기 위해 햇볕이 가장 강한 오전 10시부터 오후 4시까지는 직사광선을 피하고, 햇빛이 강한 때에는 모자, 선글라스, 모래 등으로 피부를 보호해야 합니다.</p>
                            <p class="fs-5 mb-4">자외선 차단제 사용: 자외선 차단제를 꾸준히 사용하여 피부를 보호하는 것이 좋습니다. SPF 지수가 높은 자외선 차단제를 사용하고 자주 발라야 합니다.</p>
                            <p class="fs-5 mb-4">소량의 자외선에 노출: 자외선은 비타민 D를 생성하는 데 필요하지만 과도한 자외선 노출은 피부암 위험을 증가시킬 수 있습니다. 적절한 양의 자외선에 노출하여 필요한 비타민 D를 얻을 수 있도록 합니다.</p>
                            <p class="fs-5 mb-4">피부 검진: 피부에 이상이나 의심스러운 부분이 있을 경우, 정기적인 피부 검진을 받는 것이 중요합니다.</p>

                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 피부병 분석기 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
