<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">피부병 분석기</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">흑색종양</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">인공지능 팀프로젝트/2023.06.08</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ image_url }}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">흑색종양은 피부나 점막에 발생하는 양성 혹은 악성 종양으로서, 흑색소 세포인 멜라닌 세포에서 비정상적인 성장이 발생합니다. 이러한 종양은 가려움, 혹은 색소를 포함한 색상 변화 등 다양한 증상을 보일 수 있습니다. 흑색종양은 메라노사이트라는 세포에서 생긴 피부암 종류 중 하나이며, 주로 피부에 나타나지만 눈, 내장, 임신부의 태반 등 다른 부위에도 발생할 수 있습니다.</p>
                            <h2 class="fw-bolder mb-4 mt-5">증상</h2>
                            <p class="fs-5 mb-4">1.주로 피부에서 발생하며, 직경이 크거나 불규칙한 형태를 가질 수 있습니다.</p>
                            <p class="fs-5 mb-4">2.색상이 다양하며, 흑갈색, 갈색, 진한 갈색, 푸른색 등을 띠는 경우가 있습니다</p>
                            <p class="fs-5 mb-4">3.크기가 점점 커지거나 모양이 변할 수 있습니다.</p>
                            <p class="fs-5 mb-4">4.가려움, 출혈, 통증 등의 증상이 나타날 수 있습니다.</p>
                            <h2 class="fw-bolder mb-4 mt-5">예방법</h2>
                            <p class="fs-5 mb-4">햇빛 차단: 자외선에 노출되는 것은 흑색종양의 위험을 증가시킬 수 있으므로, 자외선 차단제를 사용하고 햇빛에 오래 노출되는 것을 피해야 합니다. 모자나 옷으로 피부를 보호하는 것도 중요합니다.</p>
                            <p class="fs-5 mb-4">피부 자가검진: 정기적으로 피부 자가검진을 실시하여 피부에 이상이 있는지 확인하고, 이상이 발견되면 즉시 의료 전문가와 상담하는 것이 중요합니다.</p>
                            <h2 class="fw-bolder mb-4 mt-5">치료</h2>
                            <p class="fs-5 mb-4">흑색종양의 치료 방법은 종양의 종류, 크기, 악성도 등에 따라 달라집니다. 주로 수술적 접근법이 사용되며, 종양을 완전히 제거하기 위해 수술이 수행될 수 있습니다. 악성 흑색종양의 경우, 수술 이외에도 화학요법, 방사선 요법, 면역요법 등의 치료 방법이 사용될 수 있습니다. 치료 방법은 종양의 특성과 개인의 상태에 따라 결정되므로, 의료 전문가와 상담하여 적절한 치료 계획을 수립하는 것이 중요합니다. 초기 발견과 조기 치료는 흑색종양의 예후를 개선시키는 데 도움이 됩니다.</p>

                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 피부병 분석기 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
