<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">피부병 분석기</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">신성각화증</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">인공지능 팀프로젝트/2023.06.08</div>
                            <!-- Post categories-->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="{{ image_url }}" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">일광 각화증 또는 노인성 각화증 이라고도 하는 광선 각화증은 두껍고, 인설이 있거나 딱딱한 피부의 전암성 영역 입니다 . </p>
                            <h2 class="fw-bolder mb-4 mt-5">증상</h2>
                            <p class="fs-5 mb-4">1.광선 각화증은 특징적으로 종종 건조하거나 거칠게 느껴지는 두껍고, 인설이 있거나 딱딱한 부위로 나타납니다.</p>
                            <p class="fs-5 mb-4">2.크기는 일반적으로 2에서 6mm 사이 이지만 직경이 몇 센티미터까지 자랄 수 있습니다.</p>
                            <p class="fs-5 mb-4">3.특히 AK는 보기 전에 느껴지는 경우가 많으며 질감이 사포 에 비유되는 경우도 있습니다 .</p>
                            <p class="fs-5 mb-4">4.어둡거나 밝거나 황갈색, 분홍색, 빨간색, 이 모든 것이 조합된 색이거나 주변 피부와 같은 색일 수 있습니다.</p>
                            <h2 class="fw-bolder mb-4 mt-5">예방법</h2>
                            <p class="fs-5 mb-4">햇빛 차단: 자외선에 노출되는 것은 흑색종양의 위험을 증가시킬 수 있으므로, 자외선 차단제를 사용하고 햇빛에 오래 노출되는 것을 피해야 합니다. 모자나 옷으로 피부를 보호하는 것도 중요합니다.</p>
                            <p class="fs-5 mb-4">피부 자가검진: 정기적으로 피부 자가검진을 실시하여 피부에 이상이 있는지 확인하고, 이상이 발견되면 즉시 의료 전문가와 상담하는 것이 중요합니다.</p>
                            <h2 class="fw-bolder mb-4 mt-5">치료</h2>
                            <p class="fs-5 mb-4"> 가장 바깥층에 상처를 입히는 국소 적용 제제로 조직적인 복구, 각질 제거를 촉진하고 결과적으로 매끄럽고 활력 있는 피부로 가꾸어줍니다. 중간 정도의 박피는 여러 개의 비과각화성 AK를 효과적으로 치료할 수 있습니다</p>

                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; 피부병 분석기 2023</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
